- const {Link} = require('react-router')
div
    h2= this.props.message
    ul
        li
            Link(to="/") Return to index
        li
            Link(to="/about") Read about me
        li
            Link(to="/portfolio") Browse portfolio
    img(src="/images/error.png", style={"position": "fixed", "bottom": 0, "right": "32px", "maxHeight": "100%"})
    //- block styles
    //-  link(rel='stylesheet',type='text/css',href='/stylesheets/app.css')
    //-  link(rel='stylesheet',type='text/css',href='//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext')
    //-  //- script(src='/javascripts/modernizr.min.js')