.navigation-wrapper
    .background
      div
      span.mask
      div
    .breadcrumbs-wrapper
      .row
        ul.breadcrumbs
          block breadcrumbs
        .passiveSwitch Simple menu

    nav.metroNavigation.passive
      include menuItems.jade
      .mover