div
    #title-screen
        .row.white-triange-bottom-border
            .corners
                h1
                    span= this.props.siteSettings.siteTitle
                h2
                    a(href="/about") Dominik Gmiterko
                p
                    a(href="/portfolio/programming") Coder&nbsp;&nbsp;
                    a(href="/portfolio/art") Artist&nbsp;&nbsp;
                    a(href="/blog") Me
      
        //- Gallery16(itemType=PortfolioItem, projects=projects)