- const {Link} = require('react-router')
- const Gallery16 = require('../components/Gallery16/Gallery16')
- const PortfolioItem = require('../components/PortfolioItem/PortfolioItem')
div
    #title-screen
        .row.white-triange-bottom-border
            .corners
                h1
                    span= this.props.siteSettings.siteTitle
                h2
                    Link(to="/about", className='slowScrollTo', target="#content") Dominik Gmiterko
                p
                    Link(to="/portfolio/programming", className='slowScrollTo', target="#content") Coder  
                    Link(to="/portfolio/art", className='slowScrollTo', target="#content") Artist  
                    Link(to="/about", className='slowScrollTo', target="#content") Me
      
        Gallery16(itemType=PortfolioItem, items=this.props.projects)
    #fnav
        .row.text-center
            Link(to="/portfolio", className="button large slowScrollTo", target="#content")= this.props.translator("More projects")