- const Person = require('../components/Person/Person')
- const ReactRouter = require('react-router')
- const Link = ReactRouter.Link
div
    #title-screen
        .row.white-triange-bottom-border
            .corners
                h1
                    span= this.props.siteSettings.siteTitle
                h2
                    Link(to="/about") Dominik Gmiterko
                p
                    Link(to="/portfolio/programming") Coder&nbsp;&nbsp;
                    Link(to="/portfolio/art") Artist&nbsp;&nbsp;
                    Link(to="/about") Me
      
        //- Gallery16(itemType=PortfolioItem, projects=projects)