- const {Link} = require('react-router')
- const {slowScrollTo} = require('../../javascript/utils')
li(class="category " + this.props.project.tags[0])
    h3
        Link(to="/portfolio/"+this.props.project.tags[0], style={"text-transform": "capitalize"})= this.props.project.tags[0]
    Link(to="/project/"+this.props.project.slug, className="galleryItem", style={"backgroundImage": "url(" + (this.props.project.image || require("../../images/noimage.png")) + ")"})
        img(src=this.props.project.image)
    .this.props.project-meta(className=(!this.props.project.image ? "noimage" : ""))
        .meta
            h2= this.props.project.title
            p= this.props.project.description