- const {Link} = require('react-router')
div
    #portfolio-description
        h1= this.props.locale(this.props.siteSettings.siteTitle) + ' : ' + this.props.locale("Portfolio")
        //- p.portfolio-content= this.props.locale(this.props.portfolioDescription)
    
    //- Gallery16(itemType=PortfolioItem, projects=projects)