- const Gallery16 = require('../components/Gallery16/Gallery16')
- const PortfolioItem = require('../components/PortfolioItem/PortfolioItem')
div
    #portfolio-description
        h1= this.props.translator(this.props.siteSettings.siteTitle) + ' : ' + this.props.translator("Portfolio")
        //- p.portfolio-content= this.props.translator(this.props.portfolioDescription)
      
        Gallery16(itemType=PortfolioItem, items=this.props.projects)