- const {Link} = require('react-router')
div
    h2= this.props.translator("Not found")
    ul
        li
            Link(to="/") Return to index
        li
            Link(to="/about") Read about me
        li
            Link(to="/portfolio") Browse portfolio
    img(src=require("../../images/error.png"))
    //- block styles
    //-  link(rel='stylesheet',type='text/css',href='/stylesheets/app.css')
    //-  link(rel='stylesheet',type='text/css',href='//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext')
    //-  //- script(src='/javascripts/modernizr.min.js')