- const TextEntry = require('../components/projectEntries/TextEntry/TextEntry')
- const ImageEntry = require('../components/projectEntries/ImageEntry/ImageEntry')
article.single.project
    .image
        .img-container(style={backgroundImage: "url(" + this.props.project.image + ")"})
        .row
            .to-bottom
                .corners
                    h1= this.props.project.title
    .row.content.white-triange-bottom-border
        .corners
            each entry in this.props.project.entries
                div.entry(key=$index)
                    if entry.type === 'image'
                        ImageEntry(key=$index, entry=entry)
                    if entry.type === 'text'
                        TextEntry(key=$index, entry=entry)