div
    article.single.project
        .image
            .img-container(style="background-image: url(" + this.props.project.image.url + ")")
                .row
                    .to-bottom
                        .corners
                            h1= this.props.project.title
      
        .row.content.white-triange-bottom-border
            .corners
                p!= this.props.project.text