.footer-content-small
    .row
      span.icon.email Email
      a(href="mailto:" + siteEmail)= siteEmail
.footer-content-large
    .expand
      .row
        .small-12.medium-4.columns.corners
          ul.language-change.no-bullet
            li= __("Change language")
            li
              a.sk(href="#") SK
              = " "
              a.en(href="#") EN
        .small-12.medium-4.columns.corners
          ul.no-bullet
            include contactList.jade
        .small-12.medium-4.columns.corners
          ul.no-bullet
            li Made in
            li Slovakia - somewhere on Earth
            li
              small
                a(href="//nicool.rocks/") Unicorn website :D
    .base
      .row
        .medium-4.columns
          = __("Change language")
        .medium-4.columns
          span.icon.email Email
          a(href="mailto:" + siteEmail)= siteEmail
        .medium-4.columns
          span &copy; Dominik Gmiterko | 
          a(href="//creativecommons.org/licenses/by/4.0/deed.cs") CC BY 4.0
