li
  span.icon.email Email:
  a(href="mailto:" + siteEmail)= siteEmail
li
  span.icon.twitter Twitter:
  a(href="//twitter.com/ienze", target="_blank") Ienze
li
  span.icon.github
  a(href="//github.com/Linzee", target="_blank") Linzee
li.empty ---
li
  span.icon.feed Feed
  a(href="/blog/feed")= __("Blog feed")
li
  span.icon.feed Feed
  a(href="/portfolio/feed")= __("Portfolio feed")